# Salin file ini jadi .env dan isi dengan API key asli.
# JANGAN commit file .env ke git.

GEMINI_API_KEY=


GOOGLE_SAFE_BROWSING_API_KEY=

USE_AI_AGENT_STUB=false

DATABASE_URL=postgresql://neondb_owner:npg_dhvDSWp2RIT1@ep-quiet-recipe-azfr95ov.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require


